<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<style>
			.w3-sidebar a {
				font-family: "Roboto", sans-serif;
			}

			body,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			.w3-wide {
				font-family: "Montserrat", sans-serif;
			}
		</style>
	</head>
	<body>
		<!-- Main Navigation -->
		<section layout:fragment="sidebar">
			<nav class="w3-bar w3-white w3-top" style="z-index: 3;" id="mySidebar">
				<div class="w3-container w3-display-container w3-padding-16">
					<h3 class="w3-wide">
						<a href="/login" class="w3-button w3-black w3-circle">&#8249;</a>
						<b>Rasadnik</b>
					</h3>
				</div>
			</nav>
		</section>

		<!-- Top menu on small screens -->
		<!-- <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <div class="w3-bar-item w3-padding-24 w3-wide">Rasadnik</div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i
            class="fa fa-bars"></i></a>
</header> -->

		<!-- Overlay effect when opening sidebar on small screens -->
		<!-- <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
    id="myOverlay"></div> -->

		<!-- Content Section -->
		<div class="w3-main" style="margin-top: 100px;">
			<section layout:fragment="content">
				<p>This is filled by the content template.</p>
			</section>
		</div>

		<!-- Footer -->
		<div class="w3-main">
			<footer class="container-fluid py-5">
				<div class="row">
					<div class="col-md-12">
						<p class="text-muted">&copy; 2020 Business Name. All rights reserved.</p>
					</div>
				</div>
			</footer>
		</div>

		<!-- Optional Section -->
		<th:block layout:fragment="optional" />

		<script>
			// Accordion
			function myAccFunc() {
				var x = document.getElementById("demoAcc");
				if (x.className.indexOf("w3-show") == -1) {
					x.className += " w3-show";
				} else {
					x.className = x.className.replace(" w3-show", "");
				}
			}

			// Click on the "Jeans" link on page load to open the accordion for demo purposes
			document.getElementById("myBtn").click();

			// Open and close sidebar
			function w3_open() {
				document.getElementById("mySidebar").style.display = "block";
				document.getElementById("myOverlay").style.display = "block";
			}

			function w3_close() {
				document.getElementById("mySidebar").style.display = "none";
				document.getElementById("myOverlay").style.display = "none";
			}
		</script>
	</body>
</html>
