<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{loginLayout}"
>
	<head>
		<title>Welcome to Our Site</title>
		<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}" />
	</head>

	<body>
		<div layout:fragment="content">
			<section class="mt-6">
				<div class="container-fluid">
					<div class="row">
						<div class="p-2">
							<form
								th:action="@{/registerFarmer}"
								class="form-horizontal"
								th:object="${farmer}"
								method="post"
							>
								<div class="form-group row">
									<label for="username" class="col-sm-4 col-form-label">Name</label>
									<div class="col-sm-8">
										<input
											type="text"
											class="form-control"
											id="name"
											th:field="*{firstName}"
											placeholder="Name"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label for="username" class="col-sm-4 col-form-label">Last Name</label>
									<div class="col-sm-8">
										<input
											type="text"
											class="form-control"
											id="last_name"
											th:field="*{lastName}"
											placeholder="Last Name"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label for="username" class="col-sm-4 col-form-label">Username</label>
									<div class="col-sm-8">
										<input
											type="text"
											class="form-control"
											id="username"
											th:field="*{username}"
											placeholder="Username"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label for="password" class="col-sm-4 col-form-label">Password</label>
									<div class="col-sm-8">
										<input
											type="password"
											class="form-control"
											id="password"
											th:field="*{password}"
											placeholder="Password"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label for="password" class="col-sm-4 col-form-label">Confirm Password</label>
									<div class="col-sm-8">
										<input
											type="password"
											class="form-control"
											id="confirm_password"
											th:field="*{confirm_password}"
											placeholder="Confirm Password"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label for="username" class="col-sm-4 col-form-label">Date of Birth</label>
									<div class="col-sm-8">
										<input
											type="text"
											class="form-control"
											id="date_of_birth"
											th:field="*{dateOfBirth}"
											placeholder="Date"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label for="username" class="col-sm-4 col-form-label">Place of Birth</label>
									<div class="col-sm-8">
										<input
											type="text"
											class="form-control"
											id="place_of_birth"
											th:field="*{placeOfBirth}"
											placeholder="Date"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label for="username" class="col-sm-4 col-form-label">Phone</label>
									<div class="col-sm-8">
										<input
											type="text"
											class="form-control"
											id="phone"
											th:field="*{phoneNumber}"
											placeholder="Phone"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label for="email" class="col-sm-4 col-form-label">Email address</label>
									<div class="col-sm-8">
										<input
											type="email"
											class="form-control"
											id="email"
											th:field="*{email}"
											aria-describedby="emailHelp"
											placeholder="Enter email"
										/>
									</div>
								</div>
								<button type="submit" class="btn btn-primary">Register</button>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>
